/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@material/layout-grid/mdc-layout-grid';

.example-card {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(250, 245, 245);
  }