<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Student Registration</span>
 <span class="example-spacer"></span>
 <h5 *ngIf="router.url != '/'" style="cursor: pointer;" (click)="logout()">Logout</h5>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>
<app-alert-banner></app-alert-banner>
<router-outlet></router-outlet>
<!-- <app-charts></app-charts> -->
