.example-header-image {
  background-image: url("/assets/icons8-key-25.png");
  background-size: cover;
}

.login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
